doctype html
html(lang='en')

 head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title Stony Creek Prototypes

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.12.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // Third party plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container
                a.navbar-brand.js-scroll-trigger(href='./') Stony Creek Prototypes
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='./#about') About
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(data-toggle='dropdown', data-target='#portfoliodrop', href='#') Portfolio
                            .dropdown-menu#portfoliodrop
                                a.dropdown-item.js-scroll-trigger(href='./#portfolio') Portfolio
                                a.dropdown-item.js-scroll-trigger(href='#page-top') Full Gallery
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='./#contact') Contact

        // Masthead
        header.masthead
            .container.h-100
                .row.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-self-end
                        h1.text-uppercase.text-white.font-weight-bold Portfolio
                        hr.divider.my-4
                    .col-lg-8.align-self-baseline
                        p.text-white-75.font-weight-light.mb-5
                            | Check out our latest work below. We take pride in our work and want to show you the best of the best. If you like what we do, send us a message today!

        
        // Portfolio section
        section#portfolio
            .container-fluid.p-4
                .row
                .col-12
                h2.text-center.mb-3 Conrail
                .row
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/Conrail-6972.jpg' title='Kato SD40R as Conrail #6972')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/Conrail-6972.jpg', alt='Kato SD40R as Conrail #6972')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Conrail Railroad
                                .project-name
                                    | Kato SD40R, "Conrail #6972"
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/Conrail-8208.jpg' title='Atlas TM CR GP38-2 #8208 custom painted, weathered &amp detailed. In the Operation Lifesaver scheme')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/Conrail-8208.jpg', alt='Atlas TM CR GP38-2 #8208 custom painted, weathered &amp detailed. In the Operation Lifesaver scheme')
                            .portfolio-box-caption.p-3
                                .project-category.text-white-50
                                    | Conrail Railroad
                                .project-name
                                    | Atlas TM CR GP38-2 #8208
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/6.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg', alt='')
                            .portfolio-box-caption.p-3
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name
                .row
                .col-12
                h2.text-center.m-4 Reading
                .row
                    .col-lg-4.col-sm-6
                         a.portfolio-box(href='assets/img/portfolio/fullsize/Reading-6302.jpg' title='Atlas GE U30C, as the Reading #6302')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/Reading-6302.jpg', alt='Atlas GE U30C, as the Reading #6302')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Reading Railroad
                                .project-name
                                    | Atlas GE U30C, "Reading #6302"
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/Reading-3644.jpg' title='Kato RDG GP35 #3644, custom painted, weathered &amp detailed')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/Reading-3644.jpg', alt='Kato RDG GP35 #3644, custom painted, weathered &amp detailed')
                            .portfolio-box-caption.p-3
                                .project-category.text-white-50
                                    | Reading Railroad
                                .project-name
                                    | Kato RDG GP35 #3644
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/6.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg', alt='')
                            .portfolio-box-caption.p-3
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name

        // Footer
        footer.bg-light.py-5
            .container
                .small.text-center.text-muted Copyright &copy; 2020 - StonyCreekPrototypes LLC
                .small.text-center.text-muted Template by 
                    a(href="https://startbootstrap.com/themes/creative/") Blackrock Digital
                .small.text-center.text-muted Developed by 
                    a(href="https://www.davidloder.com") David Loder

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')

        // Core theme JS
        script(src='js/scripts.js')
