section.page-section#friends {
    padding: 4rem 0;
}
    #friends {
        h1, h2 {
            color: white;
        }
        p {
            color: white;
        }
        
        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }
