// Styling for the masthead

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  // replace the masthead.jpg image in the /assets/img directory to change the image
  // if the image name change, make sure to update the url path below!
  background: linear-gradient(to bottom, #{fade-out($outer-space, .4)} 0%,#{fade-out($outer-space, .4)} 100%), url('../assets/img/bg-masthead-trains.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  
  h1 {  
    font-family: $font-family-railroader;
    position: relative;
    bottom: 95px;
    font-size: 3rem;
  }
  p {
    position: relative;
    top: 100px;
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      position: relative;
      top: 220px;
      font-size: 1.15rem;
    }
    h1 {
      position: relative;
      bottom: 180px;
      font-size: 5rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
    }
  }
}
