section.page-section#sponsors {
    padding: 4rem 0;
}
    #sponsors {

        #brandflex {
           display: flex;
        }
        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }
