// Variables

//- Override and add to color system

$color-transparent-black: rgba(0,0,0,.5);

$conrail-blue: #4c7ec7 !default;
$outer-space: #494947 !default;
$daves-grey: #555358 !default;
$granite-gray: #5f6062 !default;
$nickel: #7B7263 !default;

//- Override primary color
$primary: $conrail-blue !default;

//- Override font system
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$font-family-railroader: "RailRoadFont", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$font-family-base: $font-family-serif !default;
$headings-font-family: $font-family-sans-serif !default;

//- Add custom variables
$navbar-height: 4.5rem !default;
